
.header {
  background: url('https://media.timeout.com/images/100892139/image.jpg') no-repeat center;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
}

.header .navbar {
  background-color: transparent !important;
}


