<!-- Page Content -->
<div class="container p-5">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 " *ngFor="let museum of allmuseums">
      <div class="card h-100">
        <a [routerLink]="" (click)="showMuseum(museum.id)"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSODNtoo4oFeS0DBBTcK2Gx-OhCbVm837oYs_0vXMpjGyYwW_0P&usqp=CAU" alt=""></a>
        <a [routerLink]="" (click)="showMuseum(museum.id)" class="centered">{{museum.name}}</a>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
