<app-navigation></app-navigation>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="login-form">
          <form >
            <div class="form-group">
              <label for="exampleInputEmail123">Fullname</label>
              <input type="text" [(ngModel)]="user.fullname" class="form-control" id="exampleInputEmail123" placeholder="Enter fullname" name="fullname">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" [(ngModel)]="user.username" class="form-control" id="exampleInputEmail1" placeholder="Enter username" name="username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" [(ngModel)]="user.password" class="form-control" id="exampleInputEmail12" placeholder="Enter password" name="password">
            </div>
            <button class="btn btn-primary mt-4" (click)="saveNewUser()">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
