
<div class="imagen">
  <img src={{museum.image}} alt="" style="border-radius: 20px;">
</div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          {{museum.name}}
        </h3>
        <div class="blog-post">
          {{museum.description}}
        </div>

      </div>

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3">
          <h4 class="font-italic">Contact Information</h4>
          <ol class="list-unstyled mb-0">
            <li>PHONE</li>
            <b>{{museum.phone}}</b>
            <div class="wrapper">
              <a class="fourth before after" href="{{museum.website}}"  (click)="  edit ? updateMuseumKPI() : saveNewMuseumKPI(); webVisitClicksCount()">WEBSITE</a>
            </div>
            <div class="wrapper">
              <a class="fourth before after" href="mailto:{{museum.email}}">E-MAIL</a>
            </div>
            <div class="wrapper">
              <a class="fourth before after" href="{{museum.ticket_purchase_page}}"  (click)="  edit ? updateMuseumKPI() : saveNewMuseumKPI(); webTicketBuyCount()">Ticket Purchase</a>
            </div>
          </ol>
        </div>

        <div class="p-3">
          <h4 class="font-italic">Opening hours</h4>
            <b>{{museum.openinghours}}</b>
          </div>

        <div class="p-3">
          <h4 class="font-italic">Price</h4>
          <ol class="list-unstyled mb-0">
            <li>Adults</li>
            <b *ngIf="museum.price == 0;">Free</b>
            <b *ngIf="museum.price > 0;" >{{museum.price + "€"}}</b>
            <li>Children</li>
            <b *ngIf="museum.price == 0;">Free</b>
            <b *ngIf="museum.price > 0;" >{{museum.price - 3 + "€"}}</b>
            <li>Students</li>
            <b *ngIf="museum.price == 0;">Free</b>
            <b *ngIf="museum.price > 0;" >{{museum.price -2 +  "€"}}</b>
          </ol>
        </div>
      </aside>

    </div>

    <app-comments></app-comments>
  </main>

