<p>museum-details works!</p>
<h3 class="text-center m-md-3  "><u>{{ curiosidad.name }} </u></h3>
<h3 class="text-center m-md-3  "><u>{{ curiosidad.description }} </u></h3>
<h3 class="text-center m-md-3  "><u>{{ curiosidad.phone }} </u></h3>
<h3 class="text-center m-md-3  "><u>{{ curiosidad.postalcode }} </u></h3>
<h3 class="text-center m-md-3  "><u>{{ curiosidad.price }} </u></h3>
<h3 class="text-center m-md-3  "><u>{{ curiosidad.website }} </u></h3>
<h3 class="text-center m-md-3  "><u>{{ curiosidad.email }} </u></h3>
<h3 class="text-center m-md-3  "><u>{{ curiosidad.openinghours }} </u></h3>

{{ curiosidad.name}}
